body {
  background-color: #000000;
}

main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
  }
  
  main,
  input {
    font-size: 18px;
    line-height: 1.5;
  }

  h1 {
    color: #1d8fe7;
  }

  input {
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.8em;
    color: #000000;
    
  }
  
  #div-quote {
    background-color: #1d8fe7;
    color: #ffffff;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 100px;
    height: 500px;
    max-width: 700px;
    text-align: center;
    line-height: 2;
  }
  
  .remove {
    background-color: #ffffff;
  }
  
  .add-item {
    background-color: #ffffff;
  }

  .add {
    margin-top: 10px;
  }

  .income {
    color: #2aaa14;
  }

  .expense {
    color: #e20008;
  }

  .neutral {
    color: #ebaf09;
  }

  /* validation */
  .invalid {
    border: 1px dashed #d2007a;
    background-color: #000000;
    color: #d2007a;
    padding: 10px;
  }
  
  input:invalid {
    border: 1px solid #d2007a;
  }
  
  input:valid {
    border: 1px solid green;
  }